header {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

header a:hover {
  color: #555;
}

nav {
  background-color: #f2f2f2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #ccc;
  color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

label {
  font-weight: bold;
}

section {
  margin-bottom: 20px;
}

h2,
h3 {
  color: #333;
}

h3 strong {
  color: #555;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  margin-top: 10px;
  font-style: normal;
}

video {
  max-width: 100%;
  height: auto;
}

form {
  margin-top: 20px;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="checkbox"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}
