body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: #ff6b6b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

header a:first-child {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
}

header a:last-child {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  background-color: #ff9f1a;

  z-index: 1;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: baseline;
  padding: 0 10px;
  white-space: nowrap;
}

nav label {
  font-weight: bold;
  width: 80px;
}

nav a:hover {
  background-color: #ff6b6b;
  color: #121212;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav div {
  display: flex;
  align-items: center;
}

nav label,
nav .search-input {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
}

nav button {
  font-weight: bold;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./surgery.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(1.2) saturate(1.2);
  opacity: 0.4;
  z-index: -1;
}

.covid-section {
  background-color: rgba(249, 249, 249, 0.7);
  padding: 20px;
  border: 1px solid #ff6b6b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.covid-section strong {
  color: #ff6b6b;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ff6b6b;
}

.container {
  display: flex;
  justify-content: center;
}

.address-section,
.video-section {
  flex: 1;
  text-align: center;
}

.feedback-form {
  text-align: center;
  padding: 20px;
  background-color: #ff9f1a;
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

form {
  display: inline-block;
  text-align: left;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-weight: bold;
}

label {
  display: inline-block;
  width: 200px;
  text-align: left;
  margin-bottom: 10px;
}

input[type="checkbox"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff9f1a;
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffac4f;
}
