body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: -webkit-linear-gradient(-45deg, #a9e4f7 0%, #0fb4e7 100%);
}
 
header {
  background-color: #222;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
header h1 {
  margin: 0;
}


header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .phone-number {
  display: flex;
  align-items: centre;
  justify-content: flex-end;
}

header .fa-phone {
  color: #fff;
  margin-right: 5px;
}

nav ul {
  background-color:#222;
  border:1px solid grey;
  z-index: 1;
  top:50%;
  left:50%;
  list-style-type: none;
  margin: 0;
  display: flex;
  outline:none;
}

nav a:hover {
  background-color: #fff;
  color: #121212;

}



nav li {
  margin-right: 10px;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/*
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

label {
  font-weight: bold;
}

section {
  margin-bottom: 20px;
}

h2,
h3 {
  color: #333;
}

h3 strong {
  color: #555;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  margin-top: 10px;
  font-style: normal;
}

video {
  max-width: 100%;
  height: auto;
}

form {
  margin-top: 20px;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="checkbox"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
} */ */
